@import url("../../css/font-awesome.min.css");

:root {
    --color-bg-main: #8CC63F;
    --color-bg-sec: #e4f2d0;

    --color-material_MAS: #c63f8c;
    --color-material_GND: #3f8cc6;
    --color-material_PosIN: #e8831e;
    --color-material_PosOUT: #e8831e;
    --color-material_FrcIN: #e8de1e;
    --color-material_FrcOUT: #e8de1e;

    --color-material_REF : #c6793f;
    --color-material_NLBOW : #3f48c6;
    --color-material_NLPLUCK : #8b3fc6;
    --color-material_NLCONTACT : #b93fc6;
}

html {
    height: 100%;
}

.codearea {
    padding: 0px;
    background-color: var(--color-bg-sec);
}

.codearea-header {
    padding: 5px;
    padding-left: 30px;
    font-weight: normal;
    color: white;
    font-family: monospace;
    flex: 1;
    background-color: var(--color-bg-main) ;
    width: 100%;
}

.mims-online textarea {
    width: 100%;
    min-height: 100%;
}

.CodeMirror {
    min-height: 100%;
}

.CodeMirror .duplicate {
    color: var(--second-bg-color);
}

.mims-online a {
    text-decoration:none;
}

.mims-online input {
    font-family: monospace;
    font-size: 14px;
}

.mims-online input[type=text] {
    border: none;
    border-bottom: 2px solid white;
}

.mims-online input[type=text] {
    background-color: var(--color-bg-sec);
    color: var(--third-bg-color);
}

.mims-online input[type=number] {
    border: none;
    border-bottom: 2px solid white;
}

.mims-online input[type=number] {
    background-color: var(--color-bg-sec);
    color: var(--third-bg-color);
}

.mims-online ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--third-bg-color);
    opacity: 1; /* Firefox */
}

.mims-online :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--second-bg-color);
}

.mims-online ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--second-bg-color);
}

.mims-online #modelView {
    width: 100%;
    height: 400px;
    background: var(--color-bg-sec);
}

.mims-online .collapse-view {
    position: relative;
}

.mims-online #viewOverlay-log {
    color: var(--color-bg-main);
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: transform .3s linear;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 10;

    display: none;
}

.mims-online #viewOverlay-log p {
    border: 3px solid var(--color-bg-sec);
    background-color: var(--color-bg-sec);
    margin-bottom: 0px;
    padding: 5px 15px;
    color: var(--color-bg-main);
    border-radius: 5px;
    width: fit-content;
}

.mims-online #viewOverlay-param {
    color: var(--color-bg-main);
    background-color: var(--color-bg-sec);
    font-weight: bold;
    transition: transform .3s linear;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 0px 5px;

    margin-top: -5px;

    border: 3px solid var(--color-bg-sec);
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    z-index: 10;
}

.mims-online #viewOverlay-param input:disabled {
    color: white;
}

.mims-online #viewOverlay-param .param-row {
    display: flex;
    flex-direction: row;
}

.mims-online #viewOverlay-param .float-container {
    flex: 0 1 auto;
    max-width: 100px;
}


.mims-online #viewOverlay-locker.locked {
    background-color: rgba(198, 63, 140, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform .3s linear;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 20;
}

.mims-online #viewOverlay-locker .error {
    border: 3px solid white;
    background-color: var(--second-bg-color);
    margin-bottom: 0px;
    padding: 5px 15px;
    width: fit-content;
    color: white;
    border-radius: 5px;
}


.mims-online #viewOverlay-simulate {
    color: var(--color-bg-main);
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: transform .3s linear;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 10000000000000;

    display: none;
}

.mims-online #viewOverlay-simulate .fa {
    background-color: var(--color-bg-main);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--color-bg-sec);
}

.mims-online #viewOverlay-simulate .active .fa{
    background-color: var(--second-bg-color);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--color-bg-sec);
}

.mims-online #viewOverlay-simulationVisualParameters {
    flex:1 1 auto;
    background-color: var(--color-bg-sec);
    overflow: scroll;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform .3s linear;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2000;

    display: none;

    border-left: solid 6px;
    border-color: var(--color-bg-main);
}

.mims-online #viewOverlay-simulationVisualParameters .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mims-online #viewOverlay-simulationVisualParameters .input {
    padding-top: 10px;
    padding-left: 10%;
    padding-bottom: 10px;
}

#viewOverlay-simulationVisualParameters .switch{
    border : solid 1px;
    border-color: var(--color-bg-main);
    width : 43px;
    height: 23px;
}

#viewOverlay-simulationVisualParameters .slider:before {
    margin-top: 10px;
}

#viewOverlay-simulationVisualParameters input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


.mims-online #viewOverlay-simulationVisualParameters .input.slide-entry {
    display: flex;
    width: 100%;
}

.mims-online #viewOverlay-simulationVisualParameters .input.slide-entry input {
    width: 40%;
}

.mims-online #viewOverlay-simulationVisualParameters .input.slide-entry label {
    width: 60%;
}

.mims-online #viewOverlay-simulationVisualParameters label {
    padding-left: 10px;
}

.mims-online #viewSimulate:before {
    content: "\f04b";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: "FontAwesome";
}

.mims-online #viewSimulate.active:before {
    content: "\f04d";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: "FontAwesome";
}

.mims-online #viewOverlay-simulationControls{
    flex:1 1 auto;
    background-color: var(--color-bg-sec);
    overflow: scroll;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform .3s linear;

    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    display: none;

    border-left: solid 6px;
    border-color: var(--color-bg-main);
}

.mims-online #viewOverlay-simulationControls .inputs {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.continuousSlider_value {
    display: flex;
    position: relative;
    width: fit-content;
    color: var(--third-bg-color);

    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    background: var(--color-bg-sec);
    padding: 2px 5px;
    margin: 0 auto;

    border: 1px solid var(--color-bg-main);

    margin-top: 7px;

}

#viewOverlay-simulationControls .inputRight{
    text-align: right;
    width: 49.5%;
}
#viewOverlay-simulationControls .inputLeft{
    text-align: left;
    width: 49.5%;
}

 #viewOverlay-simulationControls .param-row {
    display: flex;
    flex-direction: row;
}

#viewOverlay-simulationControls .float-container {
    flex: 0 1 auto;
    width : 50%;
}

#viewOverlay-simulationControls .float-container.right {
    margin-right: 0;
}

#viewOverlay-simulationControls .float-container.right label {
    width : 100%;
    text-align: right;
}

#viewOverlay-simulationControls input#inputRight {
    text-align: right;
}

#viewOverlay-simulationControls .header{
    padding-top: 15px;
    margin-bottom: 0px;
    text-align: center;
}

#sim_InputsControls {
    text-align: center;
}

#sim_InputsControls input {
    width: 20%;
}

#sim_InputsControls .continuousSlider_range {
    width: 100%;
}

#sim_InputsControls .posInput .header {
    padding-bottom: 10px;
}

button {
    background-color: var(--second-bg-color); /* Green */
    border: none;
    color: white !important;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button {
    background-color: var(--second-bg-color); /* Green */
    border: none;
    color: white !important;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button:active {
    font-weight: bold;
}

.frcInput {
    text-align: center;
    padding-bottom: 40px;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid var(--color-bg-main);
    height: 20px;
    width: 8px;
    border-radius: 3px;
    background: var(--second-bg-color);
    cursor: pointer;
    margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: var(--color-bg-main);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}



/* Ajout JV MIMS-Online V2 */



.mims-online body.mims{
    height: 100%;
}

.mims-online {
    height: 100%;
    --main-bg-color_alt: black;
    --second-bg-color: #c63f8c;
    --second-bg-color-light : #de9bc7;
    --third-bg-color: #3f8cc6;
    --fourth-bg-color: #c68013;
    --light-bg-color_alt : lightgrey;

}

.mims-online #container {
    height: 100%;
}



.mims-online #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-bg-main);
    color: white;
    text-align: center;
    height: 300px;
    z-index: 10;
}

.mims-online .mims {
    height: 100%;
    width: 100%;
}

.mims-online .mims .codearea {
    flex:1 1 auto;
    margin-top:0;
    height:100%;
    position:relative;
}

.mims-online .mims .CodeMirror {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
}


.mims-online .sidebar {
    width: 100%;
    height: 100%;
    padding-right: 5px;
    background-color: var(--color-bg-main);
    padding-bottom: 10px;
    padding-top: 5px;
}

.mims-online .sidebar a {
    color: white;
}

.mims-online #accordion {
    height: 100% !important;
    display: flex;
    flex-direction:column;

}

.mims-online .panel-heading {
    background-color: var(--color-bg-main) !important;
    border : none !important;
    padding: 5px;
    padding-bottom: 29px;
    height: 30px;
    margin-top: -5px;
    display: flex;
}

.mims-online .panel-title {
    font-weight: normal !important;
    color: white !important;
    font-family: monospace !important;
    font-size: 14px;
}
.mims-online .panel-default {
    border:none;
}
.mims-online .panel{
    -webkit-box-shadow:none;
}
.mims-online .panel-group{
    margin: 0px;
}

.mims-online #modelView{
    min-height: 100%;
}

.mims-online #help {
    flex:1 1 auto;
    height: 100%;
    background-color: var(--color-bg-sec);
    overflow: scroll;

}


/* Dealing with the generator section */
.mims-online #generate {
    flex:1 1 auto;
    background-color: var(--color-bg-sec);
    overflow: scroll;
}

.mims-online .tips {
    text-align: center;
    flex: 1 1 auto;
    background-color: var(--color-bg-sec);
    color: var(--color-bg-main);
    font-family: monospace;
    font-size: 12px;
    padding-top: 10px;
}

.mims-online .generate-content{
    padding: 10px;
}

.mims-online .generate-content .generator{
    width: 100%;
    background-color: var(--color-bg-main);
    padding: 10px;
    margin-top: 5px;
    color: white;

}

.mims-online .generate-content .generator:before {
    content: "\f0b2";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: "FontAwesome";
    padding: 5px;
    margin-left: -5px;
    border: 3px solid var(--color-bg-sec);
    margin-right: 5px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}


/* Style the collapsible content. Note: hidden by default */

.generator:after {
    content: '\f067'; /* Unicode character for "plus" sign (+) */
    font-family: "fontawesome";
    font-size: 13px;
    color: white !important;
    float: right;
    margin-left: 5px;
    padding: 3px;
}

.generator.active:after {
    content: "\f068"; /* Unicode character for "minus" sign (-) */
}

.generator-param {
    padding: 0 18px;
    background-color: var(--color-bg-sec);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 3px;
}

.generator-param .paramInput {
    flex: 1 1 auto;
}

.mims-online #generate #generateFromText {
    /*max-height: 100px;*/
}




/** float container */
.float-container {
    margin-bottom: 8px;
    padding: 0 8px;
    position: relative;
    flex: 1 1 auto;
    /** active label */
}
.float-container input {
    border: none;
    font-size: 14px;
    outline: 0;
    padding: 16px 0 3px;
    width: 100%;
}

.float-container label {
    font-family: monospace !important;
    color: white;
    font-size: 14px;
    position: absolute;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: translate(0, 16px) scale(1);
    transform: translate(0, 16px) scale(1);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.float-container.active{
    background: none;
}

.float-container.active label {
    -webkit-transform: translate(0, 3px) scale(0.75);
    transform: translate(0, 3px) scale(0.75);
    color: var(--color-bg-main);
}

.boundaries label {
    margin: 8px;
    font-family: monospace !important;
    font-size: 11px;
    color: var(--color-bg-main);
}

.boundaries select {
    font-family: monospace !important;
    font-size: 11px;
    color: var(--third-bg-color) ;
    background-color: var(--color-bg-sec);
    border:0px;
   outline:0px;
}



/* Example Loader Section */


.mims-online #viewOverlay-examples{
    flex:1 1 auto;
    background-color: var(--color-bg-sec);
    overflow: scroll;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform .3s linear;

    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    border-left: solid 6px;
    border-color: var(--color-bg-main);

    visibility: hidden;
}







/* Help Section */


.mims-online #helpOverlay-browse {
    color: white;
    position: absolute;
    margin-top: 5px;
    margin-right: 0px;
    right: 0;
    z-index: 100;
}

.mims-online #helpOverlay-browse button {
    background-color: var(--color-bg-main);
    font-weight: bold;

}

.mims-online #helpOverlay-browse .dropdown-menu {
    color: white;
    background-color: var(--color-bg-main);
    min-width :inherit;
    padding: 10px;
    font-weight: normal;
    text-align: center;
}



.mims-online #help-content{
    padding: 10px;
    text-align: justify;
}

.mims-online #help-content h1{
    text-align: center;
    color: var(--color-bg-main);
    margin-bottom: 30px;
}

.mims-online #help-content img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 30px;
    max-width: 150px;
    width: 30%;
}


.mims-online #help-content .module_syntaxe{
    font-size: 14px;
    color: var(--third-bg-color) !important; ;
    background-color: var(--color-bg-sec);
    border:0px;
    outline:0px;
    margin-bottom: 10px;
}

.mims-online #help-content .module_desc{
    margin-bottom: 10px;

}





.mims-online #help-content .module_example{
    border: 3px solid var(--color-bg-sec);
    background-color: #eeeeee;
    margin-bottom: 0px;
    padding: 10px;
    color: grey;
    border-radius: 5px;
    width: fit-content;
    font-style: italic;
    width: 100%;
    margin-top: 10px;
}


.mims-online #help-content .label{
    color: var(--third-bg-color) !important;
    font-size: 14px;
    padding: 0;
    font-weight: normal;
}


.mims-online #help-content .name {
    color: black;
    font-weight: bold;
}

.mims-online #help-content .param {
    color: var(--second-bg-color);
}
.mims-online #help-content .param_desc::before{
    content: "Physical Parameters :";
    color: var(--second-bg-color);
}
.mims-online #help-content .param_desc{
    margin-bottom: 10px;
}

.mims-online #help-content .optional_param{
    color: var(--second-bg-color-light);

}



.mims-online #help-content .init {
    color: var(--fourth-bg-color);
}
.mims-online #help-content .init_desc::before {
    color: var(--fourth-bg-color);
    content: "Initial Parameters :";
}
.mims-online #help-content .init_desc{
    margin-bottom: 10px;
}







.mims-online .sidebar .codearea {
    flex:1 1 auto;
    margin-top:0;
    height:100%;
    position:relative;
}

.mims-online .sidebar .CodeMirror {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
}

.mims-online #help-content .image {
    content:url(http://mi-creative.eu/js/mimsOnline/images/MI_creative.png);
}​






     /* Dealing with Faust Panel title and logos alignment*/
 .mims-online .headerConverter{
     display: flex;
     flex-direction: row;
 }

.headerConverter .left{
    flex: 1 1 auto;
    margin-bottom: 0px;
    margin-right: 10px;
}

.headerConverter .center{
    flex: 0 0 auto;
    margin-bottom: 0px;
    margin-right: 10px;

}

.headerConverter .right{
    flex: 0 0 auto;
    margin-bottom: 0px;
    margin-right: 10px;
}


.headerConverter .on {
    color: var(--third-bg-color)!important;
}

/* Dealing with MIMS switch FAUST vs GEN */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg-sec);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: var(--third-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-bg-sec);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-bg-sec);
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}










/* Dealing with View Panel title and logos aligement*/
.mims-online .headerView{
    display: flex;
}

.headerView .one{
    flex: 1 1 auto;
    margin-bottom: 0px;
}

.headerView .one a {
    display: block;
}

.headerView .two{
    flex: 0;
    float: right;
}





/* Dealing with Split Screen (split.js) */
.split, .gutter.gutter-horizontal {
    float: left;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
}


.split-parent{
    height: 100%;
}

#split1, #split2 {
    float: left;
    flex: 1 1 auto;
    height: 100%;
}

#split1{
    display:flex;
    align-items:stretch;
    flex-direction:column;
}


.gutter {
    float: left;
    background-color: var(--color-bg-main);;
    cursor: ew-resize;
    height: 100%;.pan
width: 30px ;
}

.split-parent:after {
    content: "";
    display: table;
    clear: both;
}




/* Dealing with the bottom consol */

.footerDrawer {
    background-color: var(--color-bg-main);
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.footerDrawer .open {
    background-color: var(--color-bg-main);
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    font-weight: normal;
    display: flex;
}

.footerDrawer .open-left{
    flex: 1 1 auto;
    margin-bottom: 0px;
}

.headerConverter .open-left a {
    display: block;
}

.headerConverter .open-right{
    flex: 0;
    float: right;
}

.collapse-converter{
    background-color: var(--color-bg-sec);
}

.codearea{
    background-color: var(--color-bg-sec);

}

.footerDrawer .open a {
    color: white;
}

.footerDrawer .open label {
    color: white;
    font-weight: normal;
    font-family: monospace !important;
}

.footerDrawer #toggle-autoCompile{
    margin-top: -4px;
    margin-right: 10px;
}

.footerDrawer .content {
    background-color: var(--color-bg-sec);
    background: var(--color-bg-main);
    display: none;
}

.footerDrawer .consoleOutput {
    background: var(--color-bg-sec);
    padding: 10px;
    height: auto;
    margin-bottom: 15px;

}

.footerDrawer .consoleOutput p {
    line-height: 5px;
}

.footerDrawer .consoleOutput .feedback-state-head {
    font-weight: bold;
    color: var(--third-bg-color);
}
.footerDrawer .consoleOutput .feedback-error-head {
    font-weight: bold;
    color: var(--second-bg-color);
}

.footerDrawer .consoleOutput .feedback-state-content {
    color: var(--third-bg-color);
}

.footerDrawer .consoleOutput .feedback-error-content {
    color: var(--second-bg-color);
}


